<footer class="footer">
    <div class = "bottom_badge">
        <img src="assets/images/discount.svg">
        <div class="discount">
            ЦЬОГО ТИЖНЯ <br> НА ВСЕ
            <p>-20%</p>
        </div>
    </div>
    <p>Практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>

    <p>Доставка піци не здійснюється</p>
</footer>