<div id="topPanel">
    <div class="cart-top">
        <span class="label-panel">
            <span class="label1">(044) 222 5 222</span>
            <span class="label2">24 години/ 7 днів на тиждень</span>
            <span class="label3">Безкоштовна доставка піци</span>
        </span>
        <div class="enter-panel">
            <button type="button" class="btn btn-default enter">Ввійти</button>
        </div>
    </div>
    <div class="cart-bottom">ПІЦА</div>
</div>
<div class="topBadge">
    <div class="badgeText">
        PIZZA
        KMA
    </div>
    <img src="assets/images/discount.svg">
</div>

